html {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(242, 243, 244);
}

body {
    margin: 0px;
}

h1 {
    font-family: 'Playfair Display', serif;
}

header {
    height: 150px;
    background: url(christmas-9095_256.gif);
    background-blend-mode: lighten;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#navigointi {
    width: 100%;
    background-color: black;
    position: relative;
   }

#navigointi nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}


li a {
    color: whitesmoke;
    text-decoration: none;
    font-size:medium;
}

#navigointi ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

#navigointi ul li {
    margin: 5px;
    padding: 15px 5px;
    text-align: center;
}

#navigointi nav ul li:hover {
    background-color: rgb(43, 61, 141);
    border-radius: 10px;
}

header h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 1px 6px black;
    font-size: 60px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ilmatieteenlaitos {
    width: 80%;
    margin: 35px 10px;
    padding: 20px;
    border: 10px double black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 5px solid white;
    box-shadow: 3px 3px 20px -10px rgba(0, 0, 0, 0.613);
}

.ilmatieteenlaitos p {
    width: 100%;
}

.ilmatieteenlaitos img {
    width: 70%;
    height: auto;
    padding: 10px 15%;
}

.video {
    width: 90%;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border: 5px solid white;
    box-shadow: 3px 3px 20px -10px rgba(0, 0, 0, 0.613);
    border-radius: 100px;
}

.video h2 {
    width: 100%;
}

.video video {
    width: 80%;
}

.video p {
    width: 100%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    background-color: black;
}

@media screen and (min-width: 800px) {
    .video {
        width: 45%;
    }

}