
header {
    height: 100px;
    background: url(snowflakes_edited.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    color: white;
    text-shadow: 3px 3px 7px rgb(39, 50, 82);
    font-size: 40px;
}



footer ul {
    list-style-type: none;
}