
html {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Playfair Display', serif;
}

header {
    height: 100px;
    background: url(snowflakes_edited.jpg);
    background-blend-mode: lighten;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    text-shadow: 1px 1px 6px rgb(39, 50, 82);
    font-size: 40px;
}



footer ul {
    list-style-type: none;
}