
html {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(242, 243, 244);
}

body {
    margin: 0px;
}

h1 {
    font-family: 'Playfair Display', serif;
}

header {
    height: 150px;
    background: url(snowflakes.png);
    background-blend-mode: lighten;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 15px solid rgba(55, 55, 94, 0.521);
}

#navigointi {
    width: 100%;
    background-color: black;
    position: relative;
   }

#navigointi nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

li a {
    color: whitesmoke;
    text-decoration: none;
    font-size:medium;
}

#navigointi ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

#navigointi ul li {
    margin: 5px;
    padding: 15px 5px;
    text-align: center;
}

#navigointi nav ul li:hover {
    background-color: rgb(43, 61, 141);
    border-radius: 10px;
}

header h1 {
    color: white;
    font-family: 'Playfair Display', serif;
    text-shadow: 2px 1px 6px black;
    font-size: 60px;
}

.runo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 25px;
}

.runo p{
    padding: 15px 25px 0px;
    font-style: italic;
    line-height: 1.5;
}

.runo div{
    max-width: 55%;
}

.runo figure {
    max-width: 35%;
}
.runo img {
    max-width: 75%;
    height: auto;
    padding: 15px;
}

.talvikortti-container, .talvikortti-container * {
    box-sizing: border-box;
}

.talvikortti-container {
    position: relative;
    width: 90%;
    border-radius: 10px;
    background-color: whitesmoke;
    border: 5px solid white;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 3px 3px 20px -10px rgba(0, 0, 0, 0.613);
    margin: 5%;
}

.talvikortti-container:hover {
    box-shadow: 0 34px 32px -33px rgba(0, 0, 0, 0.428);
    transform: translate(0px, -3px);
}

.sisaboxi {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
}

.isootsikko {
    font-size: 25px;
    margin: 10px;
}

.alaotsikko {
    font-size: 18px;
    color: rgb(5, 5, 134);
    margin: 10px;
}

.korttisisalto {
    width: 100%;
    margin: 10px;
}

.korttisisalto p {
    margin: 10px;
}

.korttisisalto2 {
    width: 100%;
    margin: 10px;
}

.korttisisalto2 p {
    margin: 10px;
}

.talvikorttikuva {
    width: 100%;
}

.talvikorttikuva2 {
    width: 100%;
}

.talvikortti-container:hover .talvikorttikuva {
    transform: scale(1.1);
}

.talvikortti-container:hover .talvikorttikuva2 {
    transform: scale(1.1);
}


footer ul {
    list-style-type: none;
}

footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
    background-color: black;
}



@media screen and (min-width: 880px) {

    .page-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
    }
    
    .talvikortti-container {
        min-height: 375px;
    }
    .korttisisalto {
        position: absolute;
        top: 5%;
        bottom: 5%;
        left: 430px;
        width: calc(100% - 470px);
        height: auto;
    }
    
    .korttisisalto2 {
        position: absolute;
        top: 5%;
        bottom: 5%;
        right: 430px;
        width: calc(100% - 470px);
        height: auto;
    }
    
    .talvikorttikuva {
        position: absolute;
        height: 350px;
        width: 350px;
        top: 8px;
        left: 8px;
    }
    
    .talvikorttikuva2 {
        position: absolute;
        height: 350px;
        width: 350px;
        top: 8px;
        right: 8px;
    }

    .talvikortti-container:hover .talvikorttikuva {
        transform: scale(1.15) rotate(1deg);
    }
    
    .talvikortti-container:hover .talvikorttikuva2 {
        transform: scale(1.15) rotate(-1deg);
    }
    
}