body {
    background-color: aliceblue;
}

nav {
    background-color: aqua;
}

figure {
    border: 10px;
}

aside { 
    background-color: aquamarine;
}

.flexboxharjoittelu {
    display: flex;
    flex-wrap: wrap;
}